<form class="margin-form" [formGroup]="productForm" autocomplete="off" novalidate #formDirective="ngForm" (ngSubmit)="onSubmit($event)">
  <mat-card class="products-card">
    <mat-card-header>
      <mat-card-title>Crear nuevo producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Id</mat-label>
            <input matInput placeholder="Ex. 1" formControlName="id">
            <mat-error *ngIf="productForm.controls['id'].hasError('required')">
              Asigana un id unico al prodcuto
            </mat-error>
            <mat-error *ngIf="productForm.controls['id'].hasError('pattern')">
              El id solo puede ser un dato numerico
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Titulo del producto" formControlName="title">
            <mat-error *ngIf="productForm.controls['title'].hasError('required')">
              Ingresa el titulo del producto
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <mat-form-field class="full-width">
          <input matInput currencyMask [options]="{align: 'left'}" placeholder="Precio del producto" formControlName="price">
          <mat-error *ngIf="productForm.controls['price'].hasError('required')">
            Ingresa el precio que le corresponde al producto
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea rows="5" matInput placeholder="Descripción del producto" formControlName="description"></textarea>
            <mat-error *ngIf="productForm.controls['description'].hasError('required')">
              Ingresa la descripción correspondiente al producto
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Crear prodcuto</button>
    </mat-card-actions>
  </mat-card>
</form>
