html, body { 
  height: 100%; 
}

body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f1f1f1; 
}

.product-grid{
  margin: 0px 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
}
